@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
  --margin_sides: 10vw;
  --background_color: rgba(0, 0, 30, 1);
  --text_color: rgba(255, 255, 255, 1);
  --accent_color: rgba(11, 148, 86, 1);
  --topmargin_sections: 6vw;
  --box_bg_color: #1c1c1c;
}

body {
  margin-left: var(--margin_sides);
  margin-right: var(--margin_sides);
  font-family: Inconsolata;
  background-color: var(--background_color);
  color: var(--text_color);
}

h1 {
  font-family: Inter;
  color: var(--accent_color);
  font-size: 2.5em;
  font-weight: 800;
}

h2 {
  font-family: Inter;
}

img {
  border-radius: 50%;
}

p {
  font-size: 1.4rem;
}

.indent_one{
  margin-left: 1rem;
}

.indent_two{
  margin-left: 2rem;
}

/* ======== LANGUAGE SELECTOR ======== */
.parent-langsel {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 200px;
}

.language-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lang-option.selected {
  color: var(--accent_color)
}

/* ======== IMAGE & BLURR STYLE ======== */
.container {
  position: relative;
  display: inline-block;
}

.blur-background {
  position: absolute;
  margin-top: 20px;
  margin-left: 5px;
  top: 50%;
  left: 50%;
  width: 30vw;
  height: 30vw; 
  background:var(--accent_color); 
  border-radius: 50%;
  filter: blur(400px);
  transform: translate(-50%, -50%);
  z-index: 0 !important;
}

.main-image {
  position: relative;
  z-index: 1 !important;
}



/* ======== HERO SECTION ======== */
.HeroSection {
  display: flex;
  align-items: center;
  margin-top: 5em;
}

.HeroSection h1{
  color: var(--accent_color);
  font-weight: 900;
  font-size: 7vh !important;
}

.HeroSection h3 {
  font-family: 'Inconsolata', monospace;
  font-weight: 100 !important;
  font-size: 150%;
}

.HeroSection img {
  margin-right: 2em; 
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 6em; /*Margin between picture and texts*/
  position: absolute;
  left: 45vw;
}

.text-container h1 {
  margin-top: 0;
}


.inline-container {
  display: flex;
  align-items: center;
}

.inline-container h2 {
  font-size: 1.5em;
  /* margin-left: 1em; */
  margin-right: 0.5em; /* Space between "I'm a" and the animated text */
  font-family: Inconsolata;
}

.type-animation {
  color: var(--accent_color); 
  font-size: 1.5em;
}

/* ======== 'SCROLL DOWN TO LEARN MORE' - SECTION ========  */
.scroll-prompt {
  bottom: 0;
  text-align: center;
  color: var(--text_color);
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  margin-top: 1rem;
  animation: bounce 2s infinite;
  font-size: 2rem;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}


/* ======== ABOUT ME ========  */
.about_me{
  margin-top: 20vw;
}

/* ======== SKILLS ========  */
.skills{
  margin-top: var(--topmargin_sections);
}

/* ======== RESUMÉ ======== */
.resume {
  margin-top: var(--topmargin_sections);
}

.timeline {
  position: relative;
  padding: 20px;
  margin: 0;
  width: 600px;
}

.timeline-event {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px; 
}

.timeline-dot {
  width: 16px;
  height: 16px;
  background-color: var(--accent_color);
  border-radius: 50%;
  position: absolute;
  left: 0; 
  top: 10px; 
  z-index: 1; 
}

.timeline-content {
  background-color: var(--box_bg_color);
  color: var(--text_color);
  padding: 10px 20px;
  border-radius: 8px;
  position: relative;
  margin-left: 30px; 
}

.timeline-content h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.timeline-content p {
  margin: 0;
  font-size: 16px;
}

.timeline-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.timeline-content li {
  margin-bottom: 5px;
}

.p_highlight {
  color: var(--accent_color);
}


/* ======== PROJECTS ======== */
.projects{
  margin-top: var(--topmargin_sections);
}

.projects h2{
  color: var(--accent_color);
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
}

.scrolling-wrapper:active {
  cursor: grabbing; /* (to change cursor while dragging) */
}

.card {
  flex: 0 0 300px;
  height: 400px;
  margin-right: 10px; 
  background-color: var(--box_bg_color);
  border-radius: 10px;
  box-sizing: border-box;
}

.card-content {
  height: 100%; 
  display: flex;
  flex-direction: column; 
  text-align: center;
  padding: 10px; 
  box-sizing: border-box;
  white-space: normal;
  margin: 10px;
  user-select: none;
}
.card-content-last {
  height: 100%; 
  display: flex;
  flex-direction: column; 
  text-align: center;
  padding: 10px; 
  box-sizing: border-box;
  white-space: normal;
  margin: 10px;
  user-select: none;
  align-items: center !important;
}

.card-content-last a {
  text-decoration: none;
}

.card-content-last .card-icons {
  margin-top: 5rem;
}

.card-icons{
  align-items: center;
}

.card-icons *{
  margin-right: 5px;
  margin-left: 5px;
}


/* ======== CONTACT ======== */
.contact {
  margin-top: var(--topmargin_sections);
}

.contact a {
  color: var(--text_color);
  text-decoration: none;
  font-size: 1.2rem;
}

.mail, .github, .phone {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.mail_text, .github_text, .phone_text {
  margin-left: 20px;
}


/* ======== COPYRIGHT ========  */
.copyright{
  text-align: center;
  margin-top: 10vw;
}




/* Large screens */
@media (min-width: 1200px) {
  .HeroSection h1 {
    font-size: 3rem; /* Increase heading size on larger screens */
  }
  
  .HeroSection h3 {
    font-size: 1.5rem;
  }

  .text-container {
    margin-left: 2rem;
  }

  .HeroSection img {
    margin-right: 2rem;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .HeroSection img {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .text-container {
    margin-left: 0;
  }

  .HeroSection h1 {
    font-size: 2rem;
  }

  .HeroSection h3 {
    font-size: 1rem;
  }
}


/* ============================================== */
/*                    MOBILE CSS                  */

@media only screen and (max-width: 768px) {
  :root {
    --topmargin_sections: 20vw;
  } 
  p {
    font-size: 100%;
  }
  /* hero */
  .container {
    margin: auto;
  }
  .main-image {
    height: 60vw;
    width: auto;
    align-items: center;
    justify-content: center;
  }
  .blur-background {
    margin-top: 0px;
    margin-left: 0px;
    width: 80vw;
    height: 80vw;
  }
  .HeroSection {
    text-align: center !important;
  }
  .text-container {
    text-align: center !important;
    margin-top: 130vw;
    left: 0 !important;
  }
  .text-container h1 {
    font-size: 40px !important;
    margin-left: 20px;
  }
  .inline-container {
    display: none;
  }
  .scroll-prompt {
    display: none;
  }
  /* space to next cnt */
  .about_me{
    margin-top: 80vw;
  }
  

  /* ======== RESUMÉ ======== */
  .timeline {
    position: relative;
    padding: 0px;
    margin: 0;
    width: 100%;
  }

  .timeline-event {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
    padding-left: 10px; 
  }

  /* ======== PROJECTS ======== */
  .card {
    flex: 0 0 300px;
    height: 400px;
    margin-right: 10px; 
    background-color: var(--box_bg_color);
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 80%;
  }

  .card-content {
    height: 100%; 
    display: flex;
    flex-direction: column; 
    text-align: center;
    padding: 10px; 
    box-sizing: border-box;
    white-space: normal;
    margin: 10px;
    user-select: none;
    max-width: 90%;
  }
}
